@font-face {
    font-family: 'BabyDoll';
    src: url('BabyDoll.woff2') format('woff2'),
        url('BabyDoll.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

