/* --- Weyland --- */

#qr--settings .inline-drawer-content > *:not(#qr--editor) {
    display: none !important;
    visibility: hidden !important;
}

#qr--editor > *:not(.qr--head) {
    display: none !important;
    visibility: hidden !important;
}

.qr--head > *:not(.qr--actions) {
    display: none !important;
    visibility: hidden !important;
}

.qr--actions > *:not(#qr--set-import) {
    display: none !important;
    visibility: hidden !important;
}

#qr--set-import {
    display: inline-flex !important;
    visibility: visible !important;
}

#spoiler_free_desc_button {
    display: none !important;
    visibility: hidden !important;
}

#completion_prompt_manager {
    display: none !important;
    visibility: hidden !important;
}

.checkbox_label[for="spoiler_free_mode"] {
    display: none !important;
}

.extension_block[data-name="/Weyland-SillyTavern"] {
    display: none;
}

#groupAddMemberListToggle {
    display: none !important;
    visibility: hidden !important;
}

#rm_button_create {
    display: none !important;
    visibility: hidden !important;
}

div > span[data-i18n="You can add more"],
div > button.open_characters_library,
div > span[data-i18n="or;or_welcome"],
div > button.external_import_button,
div > span[data-i18n="from other websites"] {
    display: none !important;
    visibility: hidden !important;
}

a[href="https://docs.sillytavern.app/usage/update/"] {
    display: none !important;
    visibility: hidden !important;
}

#advanced_div {
    display: none !important;
    visibility: hidden !important;
}

#showRawPrompt,
#copyPromptToClipboard {
    display: none !important;
    visibility: hidden !important;
}

#diffPrevPrompt {
    display: none !important;
    visibility: hidden !important;
}

@media screen and (max-width: 1000px) {
    body.waifuMode #sheld {
        height: 50vh;
        height: 50dvh; 
        top: 50vh; 
        top: 50dvh; 
        bottom: 0 !important;
    }
}

.swipe_right.fa-solid.fa-chevron-right.interactable {
  opacity: 1 !important;
  font-weight: bold !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) !important;
  font-size: 1.5em !important;
}

.swipe_right.fa-solid.fa-chevron-right.interactable:before {
  content: "→";
}
