
/* Hide Old Expressions */

#expression-holder img#expression-image {
    display: none !important;
}

#registrar-expressions-container {
    display: flex;
    height: calc(50dvh);
    width: 100vw;
    justify-content: center;
}

#expression-wrapper {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

body.registrar-hide-side-character::after {
    display: none !important;
    content: none !important;
    background-image: none !important;
}

/* Basic Expression Layout */

.registrar-expression-holder {
    width: calc((100vw - var(--sheldWidth)) / 2);
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    filter: drop-shadow(2px 2px 2px #51515199);
    z-index: 2;
    overflow: hidden;
    resize: none;
    display: flex;
    justify-content: center;
}

.registrar-expression-holder.registrar-expression-left {
    left: 0;
    right: unset;
}

.registrar-expression-holder.registrar-expression-right {
    left: unset;
    right: 0;
    transform: scaleX(-1);
}

.registrar-expression-img {
    display:none;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
    vertical-align: bottom;
    object-fit: contain;
    margin-top: auto;
}

/* Mobile Portrait Layout */

@media (max-width:1000px){
    .registrar-expression-holder{
        width: 100vw;
        position:absolute;
        bottom:unset;
        padding-top:3em;
    }
    .registrar-expression-holder:not(:has([style*="display: block"])){
        display:none;
    }

    body[expressions-sides=both] .registrar-expression-holder{
        width:50vw;
    }
    body[expressions-sides=both] .registrar-expression-img{
        height:53vh;
    }
    
    body[expression-zoom=true] .registrar-expression-holder,
    body:not(.waifuMode) .registrar-expression-holder{
        width:unset;
        height:100vh;
        position:relative;
    }
    body[expression-zoom=true] .registrar-expression-img,
    body:not(.waifuMode) .registrar-expression-img{
        max-width:unset;
        width:unset;
        height: 100vh;
    }
    body[expression-zoom=true][expressions-sides=both] .registrar-expression-holder,
    body[expressions-sides=both]:not(.waifuMode) .registrar-expression-holder{
        position:absolute;
    }
    body[expression-zoom=true][expressions-sides=both] .registrar-expression-img,
    body[expressions-sides=both]:not(.waifuMode) .registrar-expression-img{
        height: 65vh;
        margin-top:auto;
    }
    body[expression-zoom=true][expressions-sides=both] .registrar-expression-right,
    body[expressions-sides=both]:not(.waifuMode) .registrar-expression-right{
        transform:translateX(30%);
    }
    body[expression-zoom=true][expressions-sides=both] .registrar-expression-left,
    body[expressions-sides=both]:not(.waifuMode) .registrar-expression-left{
        transform:translateX(-30%);
    }
}