node_modules/
public/chats/
public/characters/
public/User Avatars/
public/backgrounds/
public/groups/
public/group chats/
public/worlds/
public/user/
public/css/bg_load.css
public/themes/
public/OpenAI Settings/
public/KoboldAI Settings/
public/NovelAI Settings/
public/TextGen Settings/
public/instruct/
public/context/
public/scripts/extensions/third-party/*
!public/scripts/extensions/third-party/Weyland-SillyTavern
!public/scripts/extensions/third-party/Weyland-SillyTavern/**
public/stats.json
/uploads/
*.jsonl
/config.conf
/config.yaml
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
/docker/data
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
public/movingUI/
public/QuickReplies/
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
public/css/user.css
public/error/
/plugins/
/data/*
!/data/default-user
/data/default-user/assets
/data/default-user/backups
/data/default-user/backgrounds/*.jpg
/data/default-user/backgrounds/*.png
/data/default-user/characters/**
!/data/default-user/characters/Phone
!/data/default-user/characters/Phone/**
/data/default-user/chats
/data/default-user/context
!/data/default-user/extensions
!/data/default-user/extensions/SillyTavern-CostumeSwitch
/data/default-user/group chats
/data/default-user/groups
/data/default-user/instruct
/data/default-user/KoboldAI Settings
/data/default-user/movingUI
/data/default-user/NovelAI Settings
/data/default-user/OpenAI Settings
/data/default-user/QuickReplies/Default.json
/data/default-user/QuickReplies/Chat.json
!/data/default-user/QuickReplies/Weyland.json
!/data/default-user/REGEX/
!/data/default-user/REGEX/**
/data/default-user/sysprompt
/data/default-user/TextGen Settings
/data/default-user/themes
/data/default-user/thumbnails
/data/default-user/user/*
!/data/default-user/user/images
!/data/default-user/user/images/**
/data/default-user/User Avatars
/data/default-user/vectors
/data/default-user/worlds
/data/default-user/content.log
/data/default-user/stats.json
/data/default-user/settings.json
/default/scaffold
/certs
.aider*
.env
/StartDev.bat
*.log
characters.json
*.bak